In [3]:
import numpy as np
import pandas as pd

In [42]:
def read_eurostat_file(fn):
  raw = pd.read_csv(fn,sep="\t",na_values=[': ',': z',': c'])
  info = \
    raw[raw.columns[0]].str.split(pat=",",expand=True) \
      .set_axis(raw.columns[0].split(","), axis=1) \
      .rename(columns={"geo\\time":"geo"})
  filtered = raw.drop([raw.columns[0]], axis=1)
  return info.join(filtered)

avia = "C:/Tomas/Public/tpetricek/histogram/traffic/raw/avia_paoc.tsv"
read_eurostat_file(avia)

,unit,tra_meas,tra_cov,schedule,geo,2018Q4,2018Q3,2018Q2,2018Q1,2018M12,...,1993M09,1993M08,1993M07,1993M06,1993M05,1993M04,1993M03,1993M02,1993M01,1993
0,FLIGHT,CAF_PAS,INTL,N_SCHED,AT,NaN,NaN,NaN,2022.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18336.0
1,FLIGHT,CAF_PAS,INTL,N_SCHED,BE,NaN,NaN,NaN,3258.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FLIGHT,CAF_PAS,INTL,N_SCHED,BG,NaN,NaN,NaN,380.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FLIGHT,CAF_PAS,INTL,N_SCHED,CH,NaN,NaN,894.0,690.0,NaN,...,1969.0,2516.0,2619.0,1722.0,2013.0,1845.0,1344.0,1257.0,1648.0,21333.0
4,FLIGHT,CAF_PAS,INTL,N_SCHED,CY,NaN,4511.0,3537.0,960.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6352,PAS,PAS_CRD_DEP,TOTAL,UNK,EU27,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6353,PAS,PAS_CRD_DEP,TOTAL,UNK,EU28,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6354,PAS,PAS_CRD_DEP,TOTAL,UNK,IT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6355,PAS,PAS_CRD_DEP,TOTAL,UNK,PT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6356,PAS,PAS_CRD_DEP,TOTAL,UNK,SE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,902479.0